:root {
 --theme-heading:rgb(100,100,100);
 --theme-livedata1:#f194b8;
 --theme-livedata1-dark:#d65e8c;
 --theme-livedata2:#9b8bf4;
 --theme-livedata2-dark:#7264c1;
}


body{

  height: auto;
  width: 100%;
  margin: 0px !important;

}

#app {
  padding: 0;
  margin: 0;
  font-weight: normal;
  width: 100%;
}

 a {
  text-decoration: none;
  transition: 0.4s;
  padding: 2px;
  color: black;
} 



@media (hover: hover) {
  /* a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  } */
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0;
  }
}
